/*排序样式*/
.sort-con{
	overflow: auto;
}
.sort-con .sort-item{
	float: left;
	display: inline-block;
	position: relative;
	padding: 0 8px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #ccc;
	margin-right: -1px;
	background: #fff;
	color: #333;
	cursor: pointer;
}
.sort-con .sort-item.active{
	background: #C60023;
	border: 1px solid #C60023;
	color: #FFFFFF;
}
.sort-con .sort-item .fa-sort-desc{
	position: absolute;
	top: 8px;
	right:8px;
}
.sort-con .sort-item.asc .fa-sort-desc{
	opacity: .6;
}
.sort-con .sort-item.asc .fa-sort-asc{
	opacity: .6;
}
/*样式*/
.p-list-con{
	margin: 15px -20px 0 0;
	overflow: hidden;
}
.p-list-con .p-item{
	position: relative;
	width: 180px;
	float: left;
	padding: 10px;
	margin: 0 20px 20px 0;
	background: #FFFFFF;
}
.p-list-con .p-item .p-img-con{
	height: 180px;
	width: 200px;
}
.p-list-con .p-item .p-img-con .p-img{
	width: 180px;
	height: 100%;
}
.p-list-con .p-item .p-price-con{
	height:30px;
	line-height: 30px;
}
.p-list-con .p-item .p-price{
	font-size: 16px;
	color: #e7380b;
}
.p-list-con .p-item .p-name-con{
	height: 40px;
	overflow: hidden;
}
.p-list-con .p-item .p-name-con .p-name{
	line-height: 20px;
	margin-bottom: 10px;
	color: #666;
	text-decoration: none;
} 
