.form-line{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	margin-bottom: 10px;
	
}
.form-line .label{
	display: inline-block;
	text-align: center;
	width: 100px;
}
.form-line .input{
	height: 25px;
	width: 200px;
	line-height: 30px;
	font-size: 14px;
}
@media screen and (max-width: 600px) {
    .nav-side{
        display: none;
    }
    .content{
        width: 100% !important;
    }
}